.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;

}

#logopng {
    width: 10%;
    height: 10%;
    padding: 8px;

}

body {
    background-image: url(assets/fundo.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

#txt-sell {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

#txt-sell2 {
    color: white;
    text-align: center;
    padding: 0%;
    margin-top: 2%;
    font-size: 35px;
}

#input-central {
    display: flex;
    align-items: center;
    justify-content: center;

}

#inp-email {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 15px;
}

#but-email {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border-color: transparent;
}

#txt-min-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 600px;

}

#txt-min {
    width: 550px;
    color: white;
    text-align: center;
    font-size: 14px;
}